.addressTab{
  width: 70%;
  font-size: 14px;

  .addressLine1{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-bottom: 5px;

    .addressUsername{
      margin-right: 30px;
    }
  }

  .addressLine2{
    font-weight: normal;
    margin-bottom: 10px;
  }

  .updateButton{
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(165, 0, 165);
    color: white;
  }
}

