.bannerTiles{
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .bannerTile{
    width: 48%;
    margin: 1%;
    position: relative;
    transition: transform 0.3s;
  }
  .bannerTile:hover{
    transform: scale(1.02,1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  // @media screen and (max-width: 600px) {
  //   .bannerTile{
  //     width: 98%;
  //   }
  // }
}
